# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
Backend/Dataset/
backend/Trained_models/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
.vs/
*.swp
*.swo
*.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.log
ts_errors.log
ts_errors_2.log
ts_errors_3.log
tmp/
